/* universal styles */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: #edefeb;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#services,
#pricing,
#contact {
    max-width: 100%;
    margin: 3rem auto;
    display: block;
}

.services-header,
.pricing-header,
.contact-header {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin: 3rem auto;
}
/* ---------------------- */

/* Navbar Section */
.navbar {
    z-index: 1;
    background-color: #fff;
    opacity: 0.9;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 60px;
}

.navbar-brand {
    color: #000;
    font-size: 1.4rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: auto 10px;
}

.nav-item {
    margin: auto 5px;
}
.nav-link {
    color: #000;
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.nav-link:hover {
    box-shadow: inset 100px 0 0 0 #212529;
    color: white;
    border-radius: 60px;
    padding: 5px;
}
/* ---------------------- */

/* title Section */
#title .title-image {
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    min-width: 465px;
    max-width: 100%;
    display: block;
}

#title .title-logo {
    float: left;
    margin-right: 1.5rem;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

#title .title-header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#title .title-text {
    font-family: "Neuton", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
/* ---------------------- */

/* Services section */
.services-card {
    width: 400px;
    height: 600px;
    padding: 1rem;
    margin: 1.5rem auto;
    border-radius: 2rem;
    transition: transform 0.5s;
}
.services-card:hover {
    transform: scale(1.1);
    border: 5px solid black;
}

#services .services-cardHeader {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
}

#services .services-cardText {
    font-family: "Neuton", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2rem;
}
/* ---------------------- */

/* Pricing section */
#pricing .pricing-card {
    border-radius: 2rem;
    padding: 2rem;
    margin: 1.5rem auto;
    height: 500px;
    width: 400px;
}

#pricing .card-header > h4 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
}

#pricing .card-body {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}
/* ---------------------- */

/* Contact Section */
#contact .contact-card {
    margin: 1rem auto;
    padding: 3rem;
    border-radius: 2rem;
    height: 160px;
    width: 600px;
}

.contact-cardHeader {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
}

#contact .contact-cardText {
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

/* ---------------------- */
/* Footer Section */
#footer {
    width: 100vw;
    padding: 0.75rem;
    background-color: #fff;
}
/* ---------------------- */

/* Special classes */
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.brand {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
/* ---------------------- */

/* Media queries */
@media (min-width: 319px) and (max-width: 480px) {
    #title,
    #services,
    #pricing,
    #contact {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15%;
    }

    #title .title-image {
        border-radius: 2rem;
        margin-bottom: 1.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: 767px) {
        #services,
        #pricing,
        #contact {
            margin: 0 auto;
            max-width: 100%;
            text-align: center;
        }

        #services .services-card {
            text-align: left;
        }

        .navbar {
            padding: 10px;
        }
    }

    #title .title-logo {
        height: 120px;
        width: 120px;
        margin: 5% 30%;
        justify-content: center;
        align-items: center;
    }

    #title .title-header {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    #title .title-text {
        font-family: "Neuton", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    #services .services-card {
        text-align: center;
        padding: 0.75rem;
        margin: 1rem auto;
        border-radius: 2rem;
        pointer-events: none;
        border: none;
    }
    #services .services-cardText {
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
    }

    #pricing .pricing-card {
        padding: 2rem;
        padding: 1.5rem;
        margin: 1rem auto;
    }

    #contact .contact-card {
        margin: 1rem auto;
        padding: 3rem;
        border-radius: 2rem;
        height: 160px;
        width: 600px;
        text-align: center;
    }
}
